@import "./variable.scss";

.layout {
    padding: 0;
    margin: 0;

    .logo {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: $base-color;

        img {
            width: 20px;
            margin: 5px;
        }

        p {
            margin-block-start: 0;
            margin-block-end: 0;
            color: white;
        }
    }
}


.tab {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    height: 40px;
    margin: 5px;

    a {
        background-color: white;
        border: 0;
        font-size: 15px;
        outline: none;
        text-decoration: none;
        color: black;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
    }

    a.active {
        background-color: $base-color;
        color: white;
    }

}

.divider {
    width: 100%;
    height: 0.5px;
    background-color: #CCCCCC;
}