.play-list-detail-content {
    background-color: #EEEFF0;
}

.play-list-detail-banner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: grey;
    padding: 16px;
}

img.play-list-detail-user-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

img.play-list-detail-banner-cover {
    width: 100px;
    height: 100px;
    padding-right: 16px;
}

.play-list-detail-banner-desc {
    flex: 1;
    p {
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    div {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
}

.play-list-detail-tag {
    background-color: #F8F8F8;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0 5px;

    span {
        border: 0.5px solid rgb(236, 236, 236);
        border-radius: 10px;
        padding: 4px 8px;
        margin-right: 5px;
        color: #333;
    }
}

.play-list-detail-description {
    background-color: #F8F8F8;
    color: #888;
    font-size: 14px;
    padding: 10px;
    line-height: 1.3;
}

.play-list-detail-music-list {
    background-color: #F8F8F8;
}

.music-list-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #DFDFDF;
    padding: 10px 12px;

    .left {
        color: #333;
        font-size: 18px;
        padding: 0 10px 0 0;
    }

    .middle {
        font-size: 12px;
        flex: 1;

        div:nth-child(1) {
            color: #333;
            font-size: 16px;
            margin-bottom: 6px;
        }

        div:nth-child(2) {
            color: #888;
        }
    }

    .right {
        button {
            outline: none;
            border: none;
            background-color: transparent;

            img {
                width: 20px;
            }
        }
    }
}

.play-list-item-title {
    font-size: 12px;
    padding: 8px;
    color: #666;
}